*~
*.class
.classpath
.project
.settings/
.pydevproject
.settings
.DS_Store
target
*.swp
*.pyc
findbugs-results
*.launch
/thrift
*.idea/*
*.iml
.metadata/
/bin/
/src/main/resources/web/index.html
.idea/
.vagrant/
Vagrantfile
out/
